article {
    font-family: "Signika";
}

header {
    padding: 2px;
}

h1 {
    color: #DE412C;
    border: 4px solid #DE2CBA;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #C42D4B;
    padding: 10px;
}

p {
    color: #DE7F2C;
}

th, td {
    color: #DE602C;
    padding: 5px;
    text-align: left;
}

footer {
    font-family: "Signika";
    color: white;
    background-color: #DE8276;
    text-align: center;
    padding: 10px;
}